{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">

        <meta name="description" content="A blog from Nico Lutz: Notes tagged::{{title}}">
        <meta name="author" content="Nico Lutz">

        <link rel="stylesheet" href="{{base_url}}/static/css/fonts.css">
        <link rel="stylesheet" href="{{base_url}}/static/css/custom.css">

        <title>Notes tagged::{{title}}</title>

    </head>
    <body>
        <div class="wrap">
            <div class="section" id="title">
                <h2 class="title">Notes tagged: {{title}}</h2>
            </div>
            <div>
            <ul>
                {% for note in notes %}
                <li>
                    {% if note.date %}
                        {{ macros::format_date(date=note.date) }} -
                    {% endif %}
                    <a href="{{base_url}}/notes/{{note.slug}}">
                        {{note.title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {{ macros::bottom_menu() }}
        </div>
    </body>
</html>
